<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Lanchonete</title>
</head>
<body>
    <div class="container">
        <h1>Seja bem-vindo</h1>
        <p>Este é um exemplo de uma página HTML básica.</p>
    </div><br>

    <div class="container-imagens">
        <h2>imagens 1</h2>
        <img src="https://via.placeholder.com/150" alt="Imagem 1">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero, aliquam nisi ut vel nulla excepturi impedit reprehenderit dolores officia ab fugiat nam esse omnis harum. Delectus rem saepe earum!</p>
    </div><br>

    <div class="container-imagens">
        <h2>imagens 1</h2>
        <img src="https://via.placeholder.com/150" alt="Imagem 1">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero, aliquam nisi ut vel nulla excepturi impedit reprehenderit dolores officia ab fugiat nam esse omnis harum. Delectus rem saepe earum!</p>
    </div><br>

    <div class="container-imagens">
        <h2>imagens 1</h2>
        <img src="https://via.placeholder.com/150" alt="Imagem 1">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero, aliquam nisi ut vel nulla excepturi impedit reprehenderit dolores officia ab fugiat nam esse omnis harum. Delectus rem saepe earum!</p>
    </div><br>
    <div class="container-imagens">
        <h2>imagens 1</h2>
        <img src="https://via.placeholder.com/150" alt="Imagem 1">
        
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero, aliquam nisi ut vel nulla excepturi impedit reprehenderit dolores officia ab fugiat nam esse omnis harum. Delectus rem saepe earum!</p>
    </div><br>


    <a class="btn-custom" href="{{ url_for('contato') }}">Contato</a>
    

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>